@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CupidSync</h1>
    <h3>
        CupidSync is an innovative dating website aimed at revolutionizing the way people connect and find love online. Around 70 percent of individuals succeeded in meeting someone on the +ga dating website and ages around 48 to 58 found most matches (Booth, Dating statistics and facts in 2024). In this generation, a large portion of human society relies on the dating market to find a partner (Kang and HO, 2021). It is important to guide people in finding individuals who match their interests to further their chances of finding love. With a user-friendly interface and robust features, CupidSync offers a seamless experience for users to meet with their match. Within the website, users can explore potential matches by using the search bar to filter their preferences such as religion, height, race, etc. This application aims to research and facilitate the market of user preferences, profiles, and subscriptions for dating. This proposal will outline the business, schema, software usage, and project scope.
    </h3>
</div>
